@use "../../global" as *;
@use "../../partials" as *;

.singUp_button {
  display: inline-flex;
  font-size: size(12);
  padding: size(10) size(10) size(8) size(10);
  @include breakpoint(mobile768) {
    padding: size(13) size(25) size(12) size(25);
    font-size: size(18);
  }
  @include radius(10);
  background: $white;
  color: $primaryColor;
  font-family: $primaryfont;
  font-weight: 500;
  line-height: 125%;
  transition: all 0.35s ease-in-out;
  &:hover {
    background: $primaryColor;
    color: $white;
  }
}

.logIn_button {
  display: inline-flex;
  font-size: size(12);
  padding: size(10) size(10) size(8) size(10);
  @include breakpoint(mobile768) {
    padding: size(13) size(25) size(12) size(25);
    font-size: size(18);
  }
  @include radius(10);
  background: $primaryColor;
  color: $white;
  font-family: $primaryfont;
  font-weight: 500;
  line-height: 125%;
  transition: all 0.35s ease-in-out;
  &:hover {
    background: $white;
    color: $primaryColor;
  }
}

.primary_btn {
  display: inline-flex;
  padding: size(17) size(53) size(16) size(53);
  @include radius(10);
  border: 1.5px solid #ffd2f3;
  background: $primaryColor;
  box-shadow: 0px 4px 40px 0px rgba(222, 0, 165, 0.35);
  color: $white;
  font-family: $primaryfont;
  font-size: size(16);
  @include breakpoint(mobile768) {
    font-size: size(20);
  }
  font-weight: 700;
  line-height: 125%;
  transition: all 0.35s ease-in-out;
  &:hover {
    background: $white;
    color: $primaryColor;
  }
}
