@use "../global" as *;
@use "../partials" as *;

body {
  font-family: $primaryfont;
}

// HEADER-SECTION-START
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: background-color 0.35s ease;
  &.scrolled {
    background-color: #bdaed4d3;
    // background-color: rgb(136, 135, 136);
  }
  &_wrapper {
    padding: size(30) size(0);
    .inner_nav {
      .logo {
        .mobile-menu {
          border: none;
          padding-top: 7px;
          @include circle;
          width: size(30);
          height: size(30);
        }
        img {
          width: size(100);
          @include breakpoint(mobile576) {
            width: size(130);
          }
          @include breakpoint(mobile768) {
            width: size(185);
          }
        }
      }
      .navLinks {
        gap: size(20);
        border-radius: 12px;
        border: 1px solid #dec8ff;
        background: rgba(255, 255, 255, 0.33);
        padding: size(20) size(30);
        @include breakpoint(desktop1200) {
          padding: size(20) size(70);
          gap: size(36);
        }
        .navItem {
          .navLink {
            color: $white;
            font-family: $primaryfont;
            font-size: size(16);
            font-weight: 600;
            line-height: size(16);
            transition: all 0.35s ease-in-out;

            &:hover {
              color: $secondaryColor;
            }
            &.active {
              color: $secondaryColor;
            }
          }
        }
      }
      .cta_btns {
        gap: size(8);
        @include breakpoint(mobile576) {
          gap: size(16);
        }
      }
    }
  }

  .offcanvas {
    width: size(300);
    .offcanvas-body {
      .mobile_navLinks {
        .navItem {
          border: 1px solid #dec8ff;
          background: #dec8ff;
          padding: size(8) size(5);
          @include radius(5);
          .navLink {
            color: $black;
            font-family: $primaryfont;
            font-size: size(16);
            font-weight: 600;
            line-height: size(16);
            transition: all 0.35s ease-in-out;

            &:hover {
              color: $secondaryColor;
            }
            &.active {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}

// HERO-SECTION-START
.hero_section {
  background: url("../../assets/images/Home/Hero-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  .hero_Container {
    @include breakpoint(desktop1400) {
      max-width: size(1450);
    }
  }
  .hero_wrapper {
    padding: size(140) size(0) size(100) size(0);
    @include breakpoint(mobile576) {
      padding: size(180) size(0) size(125) size(0);
    }
    @include breakpoint(tab992) {
      padding: size(250) size(0) size(125) size(0);
    }
    @include breakpoint(desktop1400) {
      padding: size(250) size(0) size(125) size(50);
    }
    overflow-x: hidden;
    @include breakpoint(mobile576) {
      overflow-x: visible;
    }
    .Hero_Arrow {
      top: size(48);
      display: none;
      @include breakpoint(tab992) {
        display: block;
        left: size(-100);
      }
      // @include breakpoint(desktop1200) {
      //   left: size(-100);
      // }
      @include breakpoint(desktop1400) {
        left: size(-170);
      }
    }

    .hero_left_content {
      display: flex;
      flex-direction: column;
      gap: size(25);
      @include breakpoint(desktop1200) {
        gap: size(35);
      }

      .hero_title {
        max-width: size(550);
        font-family: $primaryfont;
        font-size: size(30);
        @include breakpoint(tab992) {
          font-size: size(40);
        }
        @include breakpoint(desktop1200) {
          font-size: size(60);
        }
        font-weight: 800;
        line-height: 140%;
        background: linear-gradient(280deg, #fff 9.23%, #e4d2ff 98.94%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .hero_description {
        max-width: size(454);
        font-family: $primaryfont;
        font-size: size(20);
        @include breakpoint(desktop1200) {
          font-size: size(24);
        }
        line-height: 140%;
        background: radial-gradient(110.79% 110.79% at -5.18% 62.86%, #fff 0%, #ebdefe 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .hero_right_content {
      z-index: 1;
      .hero_image_wrapper {
        @include radius(40);
        background: linear-gradient(90deg, #f178c6 1.18%, #edf966 70.17%, #95d7cb 100.03%),
          rgba(255, 255, 255, 0);
        padding: size(15);
        .hero_image {
          @include radius(32);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .hero_dots_wrapper {
        right: 0px;
        @include breakpoint(mobile768) {
          right: -40px;
        }
        bottom: -40px;
        z-index: -1;
      }
    }
  }
}

// OUR-SERVICES-START
.our_services {
  margin-top: size(70);
  @include breakpoint(mobile768) {
    margin-top: size(140);
  }
  &_wrapper {
    .service_item {
      display: flex;
      align-items: center;
      gap: size(10);
      padding: size(20) size(10) size(20) size(20);
      @include breakpoint(desktop1200) {
        padding: size(30) size(30) size(30) size(30);
        gap: size(20);
      }
      border: 1px dashed #de00a5;
      &.data {
        border: 1px dashed #ff9c11;
      }
      &.marketing {
        border: 1px dashed #7024ec;
      }
      @include radius(16);
      .service_image_wrapper {
        img {
          width: 100%;
          @include radius(16);
        }
      }
      .service_content {
        display: flex;
        flex-direction: column;
        gap: size(14);

        .service_title {
          color: #1a0013;
          font-family: $primaryfont;
          font-size: size(16);
          @include breakpoint(desktop1200) {
            font-size: size(20);
          }
          @include breakpoint(desktop1400) {
            font-size: size(24);
          }
          font-weight: 700;
          line-height: 90%;
        }
        .service_description {
          color: #52474f;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 167%;
          max-width: size(230);
        }
      }
    }
  }
}

// Features-Section-START
.features_section {
  background: linear-gradient(
    180deg,
    rgba(251, 245, 205, 0) 0%,
    rgba(251, 245, 205, 0.65) 15%,
    rgba(251, 245, 205, 0) 50%
  );
  padding: size(60) size(0) size(60) size(0);
  @include breakpoint(mobile768) {
    padding: size(120) size(0) size(60) size(0);
  }
  &_wrapper {
    .features_section_header {
      display: flex;
      flex-direction: column;
      gap: size(34);
      margin-bottom: size(50);
      @include breakpoint(mobile768) {
        margin-bottom: size(100);
      }
      .features_section_title {
        display: inline-flex;
        padding: size(5) size(21);
        gap: size(12);
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        @include radius(8);
        border: 1px solid #ffb700;
        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: #ffb700;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: #1a0013;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        line-height: 125%;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
        line-height: 167%;
        max-width: size(624);
        margin: 0 auto;
      }
    }
  }
}

.section_image_content {
  overflow-x: hidden;
  &.upload_product {
    margin-top: size(70);
    @include breakpoint(mobile768) {
      margin-top: size(140);
    }
  }
  .section_image_wrapper {
    img {
      @include radius(24);
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.05);
      // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05) inset;
    }
  }
  .section_content_wrapper {
    .section_title_wrapper {
      .title {
        color: #1a0013;
        font-family: $primaryfont;
        font-size: size(24);
        @include breakpoint(mobile576) {
          font-size: size(32);
        }
        font-weight: 700;
        max-width: size(400);
      }
      .title_arrow {
        left: size(0);
        @include breakpoint(mobile576) {
          left: size(90);
        }
        bottom: size(-10);
        svg {
          width: size(130);
          @include breakpoint(mobile576) {
            width: size(179);
          }
        }
      }
      .upload {
        left: size(110);
        @include breakpoint(mobile576) {
          left: size(143);
        }
        bottom: size(-10);
        svg {
          width: size(90);
          @include breakpoint(mobile576) {
            width: size(130);
          }
        }
      }
    }
    .description {
      color: #52474f;
      font-family: $primaryfont;
      font-size: size(16);
      line-height: size(31);
      max-width: size(562);
    }
  }
}

// order_section
.order_section {
  padding-top: size(70);
  @include breakpoint(mobile768) {
    padding-top: size(140);
  }
  &_wrapper {
    .order {
      left: size(0);
      bottom: size(-10);
      svg {
        width: size(60);
        @include breakpoint(mobile576) {
          width: size(80);
        }
      }
    }
  }
}
// CHOOSING-TEMPLATE-SECTION-START
.choosing_template {
  &_wrapper {
    background-image: url("../../assets/images/Home/choosing_template_bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: size(50) size(15);

    margin-top: size(0);
    @include breakpoint(mobile768) {
      margin-top: size(100);
    }

    @include breakpoint(tab992) {
      padding: size(100) size(40);
    }
    @include radius(24);
    .choosing_template_header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: size(24);
      .title_wrapper {
        .title {
          color: #1a0013;
          font-family: $primaryfont;
          font-size: size(32);
          font-weight: 700;
        }
        .title_arrow {
          width: size(104);
          left: size(80);
          bottom: size(-10);
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(16);
        line-height: size(31);
        max-width: size(1144);
      }
    }

    .choosing_template_content {
      margin-top: size(25);
      margin-bottom: size(50);
      @include breakpoint(tab992) {
        margin-top: size(55);
        margin-bottom: size(100);
      }
      .template_card {
        display: block;
        .template_image {
          width: 100%;
          @include radius(12);
          @include breakpoint(mobile768) {
            @include radius(24);
          }
        }
        .template_title {
          background: #7024ec;
          color: $white;
          text-align: center;
          font-family: $primaryfont;
          font-size: size(16);
          font-weight: 600;
          padding: size(18) size(0) size(14) size(0);

          position: absolute;
          bottom: 0;
          width: 100%;
          @include double-radius(bottom, right, 12, bottom, left, 12);
          @include breakpoint(mobile768) {
            @include double-radius(bottom, right, 24, bottom, left, 24);
          }
        }
      }
    }
  }
}
// domain_section
.domain_section {
  padding-top: size(70);
  @include breakpoint(mobile768) {
    padding-top: size(140);
  }
  &_wrapper {
    .domain_arrow {
      left: size(75);
      @include breakpoint(mobile576) {
        left: size(90);
      }
      bottom: size(-10);
      svg {
        width: size(70);
        @include breakpoint(mobile576) {
          width: size(102);
        }
      }
    }
  }
}

// payment_section
.payment_section {
  padding-top: size(70);
  @include breakpoint(mobile768) {
    padding-top: size(140);
  }
  &_wrapper {
    .payment_arrow {
      left: size(110);
      @include breakpoint(mobile576) {
        left: size(143);
      }
      bottom: size(-10);
      svg {
        width: size(70);
        @include breakpoint(mobile576) {
          width: size(83);
        }
      }
    }
  }
}

// free_plan_section
.free_plan_section {
  padding-top: size(70);
  @include breakpoint(mobile768) {
    padding-top: size(140);
  }
  &_wrapper {
    .free_plan_arrow {
      left: size(80);
      @include breakpoint(mobile576) {
        left: size(108);
      }
      bottom: size(-10);
      svg {
        width: size(80);
        @include breakpoint(mobile576) {
          width: size(104);
        }
      }
    }
  }
}

// PROCESS-SECTION-START
.process_section {
  background: linear-gradient(
    180deg,
    rgba(237, 217, 255, 0) 0%,
    rgba(237, 217, 255, 0.65) 15%,
    rgba(237, 217, 255, 0) 50%
  );
  padding-top: size(60);
  @include breakpoint(tab992) {
    padding-top: size(120);
  }
  &_wrapper {
    .process_section_header {
      display: flex;
      flex-direction: column;
      gap: size(38);

      .process_section_title {
        display: flex;
        gap: size(12);
        padding: size(5) size(21);
        justify-content: center;
        align-items: center;
        @include radius(8);
        border: 1px solid #fd1774;

        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: #fd1774;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: #1a0013;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
      }
    }

    .process_section_content {
      margin-top: size(60);
      @include radius(24);
      background: linear-gradient(180deg, #6523e3 26.78%, #c11795 159.21%);
      // @include breakpoint(desktop1200) {
      padding: size(50) size(30);
      // }
      @include breakpoint(desktop1400) {
        padding: size(50) size(40);
      }
      .process_card {
        @include radius(16);
        border: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.2);
        padding: size(34) size(23);
        display: flex;
        align-items: center;
        gap: size(22);
        height: 100%;
        .icon_wrapper {
          svg {
            width: size(40);
            height: size(40);
          }
        }
        .sub_title {
          color: $white;
          font-family: $primaryfont;
          font-size: size(14);
          font-weight: 700;
          line-height: 150%;
          @include breakpoint(desktop1400) {
            font-size: size(16);
          }
        }
        .description {
          color: $white;
          font-family: $primaryfont;
          font-size: size(12);
          line-height: 167%;
          max-width: size(277);
          @include breakpoint(desktop1400) {
            font-size: size(14);
          }
        }
      }
    }
  }
}

// FACILITIES-SECTION-START
.facilities_section {
  background: linear-gradient(
    180deg,
    rgba(217, 245, 247, 0) 0%,
    rgba(217, 245, 247, 0.5) 15%,
    rgba(217, 245, 247, 0) 50%
  );
  padding: size(60) size(0);
  @include breakpoint(tab992) {
    padding: size(120) size(0);
  }
  &_wrapper {
    .facilities_section_header {
      display: flex;
      flex-direction: column;
      gap: size(38);

      .process_section_title {
        display: flex;
        gap: size(12);
        padding: size(5) size(21);
        justify-content: center;
        align-items: center;
        @include radius(8);
        border: 1px solid #de00a5;

        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: #de00a5;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: #1a0013;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
      }
    }

    .facilities_content {
      z-index: 2;
      margin-top: size(60);
      .process_section_bg {
        width: 100%;
        height: size(1743);
        @include breakpoint(mobile768) {
          height: size(826);
        }
        @include breakpoint(tab992) {
          height: size(462);
        }
        border-radius: 24px;
        background: #e5faff;
        background-blend-mode: color-burn;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05) inset;
        bottom: 68px;
        left: 0;
        z-index: -1;
      }
      .facilities_card_inner {
        padding: 0 size(10);
        @include breakpoint(mobile576) {
          padding: 0 size(20);
        }
        @include breakpoint(tab992) {
          padding: 0 size(40);
        }
      }
      .facilities_card {
        border-radius: 24px;
        background: #fff;
        box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.06);
        padding: size(47) size(27);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: size(30);
        height: 100%;
        .icon_wrapper {
          svg {
            width: size(80);
            height: size(80);
          }
        }
        .sub_title {
          color: var(--, #1a0013);
          font-family: $primaryfont;
          font-size: 20px;

          font-weight: 700;
          line-height: normal;
          text-align: center;
        }
        .description {
          color: var(--, #52474f);
          text-align: center;
          font-family: $primaryfont;
          font-size: 14px;

          font-weight: 400;
          line-height: 27px; /* 192.857% */
          max-width: size(330);
        }
      }
    }
  }
}
// PRICE-SECTION-START

.price_section {
  background: linear-gradient(
    180deg,
    rgba(219, 253, 197, 0) 0%,
    rgba(219, 253, 197, 0.65) 15%,
    rgba(219, 253, 197, 0) 50%
  );
  padding-top: size(100);
  @include breakpoint(mobile768) {
    padding-top: size(150);
  }
  @include breakpoint(tab992) {
    padding-top: size(210);
  }
  &_wrapper {
    .price_section_header {
      display: flex;
      flex-direction: column;
      gap: size(38);

      .process_section_title {
        display: flex;
        gap: size(12);
        padding: size(5) size(21);
        justify-content: center;
        align-items: center;
        @include radius(8);
        border: 1px solid #64d71f;

        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: #64d71f;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: #1a0013;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
      }
    }

    .price_section_content {
      .nav-tabs {
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: size(60);
        .inner_tabs {
          @include radius(49);
          background: linear-gradient(0deg, #f5f7fa 0%, #f5f7fa 100%),
            linear-gradient(0deg, #f5f7fa 0%, #f5f7fa 100%), #f5f7fa;
          padding: size(5);
        }
        .monthly {
          color: #52474f;
          text-align: center;
          font-family: $primaryfont;
          font-size: size(20);
          padding: size(15) size(33) size(12) size(33);
          border: none;
          font-weight: 500;
          @include radius(49);
          background: transparent;
          &.active {
            background: #fff;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
            font-weight: 600;
          }
        }
      }

      .tab-content {
        .price_section_card_inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include breakpoint(mobile768) {
            align-items: start;
            justify-content: center;
            flex-direction: row;
          }
          gap: size(30);
          margin-top: size(36);
          .price_card {
            max-width: size(351);
            width: 100%;
          }
          .price_section_card {
            @include radius(24);
            border: 1px solid #dfd4f1;
            background: #fff;
            padding: size(32);
            min-height: size(652);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.active {
              border: 1px solid #7024ec;
            }
            &_header {
              .plan {
                @include radius(6);
                background: #f4eeff;
                color: #7024ec;
                font-family: $primaryfont;
                font-size: size(20);
                font-weight: 700;
                padding: size(7) size(15) size(1) size(15);
              }
              .plan_price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: size(26) 0;
                margin-left: size(12);
                border-bottom: 1px solid #f4eeff;
                .title {
                  color: #1a0013;
                  font-family: $primaryfont;
                  font-size: size(54);
                  font-weight: 700;
                  line-height: size(60);
                }
                .sub_title {
                  font-family: $primaryfont;
                  font-size: size(18);
                  line-height: 130%;
                  font-weight: 500;
                  letter-spacing: -0.558px;
                  background: linear-gradient(90deg, #6523e3 5.7%, #c11795 99.89%);
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }
            }
            &_list {
              padding: size(30) 0;
              display: flex;
              flex-direction: column;
              gap: size(20);
              .item {
                display: flex;
                align-items: center;
                gap: size(16);
                .icon {
                  svg {
                    width: size(24);
                    height: size(24);
                  }
                }
                .text {
                  margin-top: size(4);
                  color: #52474f;
                  font-family: $primaryfont;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
// QUESTIONS-SECTION-START
.questions_section {
  background: linear-gradient(
    180deg,
    rgba(254, 220, 234, 0) 0%,
    rgba(254, 220, 234, 0.65) 15%,
    rgba(254, 220, 234, 0) 50%
  );
  padding: size(120) size(0);
  @include breakpoint(tab992) {
    padding: size(120) size(0);
  }
  &_wrapper {
    .questions_section_header {
      display: flex;
      flex-direction: column;
      gap: size(38);

      .questions_section_title {
        display: flex;
        gap: size(12);
        padding: size(5) size(21);
        justify-content: center;
        align-items: center;
        @include radius(8);
        border: 1px solid #de00a5;

        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: #de00a5;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: #1a0013;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
      }
    }
    .questions_section_content {
      margin-top: size(60);
      .accordion {
        .accordion-item {
          margin-bottom: size(36);
          @include radius(16);
          border: 0.25px solid #efefef;
          background: #fff;
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);

          .accordion-header {
            .accordion-button {
              color: #1a0013;
              font-family: $primaryfont;
              font-size: size(20);
              @include breakpoint(mobile768) {
                font-size: size(30);
              }
              font-weight: 600;
              @include radius(16);

              &:not(.collapsed) {
                background-color: $white;
                box-shadow: none;
              }

              &:focus {
                box-shadow: none;
              }

              &::after {
                width: size(48);
                height: size(48);
                background-image: url("../../assets/images/Home/arrow.png");
                background-size: cover;
              }
            }
          }

          .accordion-button:not(.collapsed) {
            border-radius: 0;
            @include double-radius(top, right, 16, top, left, 16);
            border: 1px solid #de00a5;
            border-bottom: none;
            box-shadow: 0px 6px 16px 0px rgba(222, 0, 165, 0.19);

            &::after {
              background-image: url("../../assets/images/Home/active-arrow.png");
              transform: rotate(360deg);
            }
          }

          .accordion-collapse.show {
            @include double-radius(bottom, right, 16, bottom, left, 16);
            border: 1px solid #de00a5;
            border-top: none;
            box-shadow: 0px 6px 16px 0px rgba(222, 0, 165, 0.19);
          }

          .accordion-collapse {
            .accordion-body {
              color: #52474f;
              font-family: $primaryfont;
              font-size: size(16);
              @include breakpoint(mobile768) {
                font-size: size(20);
              }
            }
          }
        }
      }
    }
  }
}
// testimonial_section
.testimonial_section {
  background: linear-gradient(70deg, #45c4f9 0.66%, #701fe5 33.33%, #de00a5 71.77%, #ffc800 100%);
  padding: size(60) size(0);
  @include breakpoint(tab992) {
    padding: size(120) size(0);
  }
  &_wrapper {
    .testimonial_section_header {
      display: flex;
      flex-direction: column;
      gap: size(38);

      .testimonial_section_title {
        display: flex;
        gap: size(12);
        padding: size(5) size(21);
        justify-content: center;
        align-items: center;
        @include radius(8);
        border: 1px solid $white;

        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: $white;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: $white;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: $white;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
      }
    }
    .testimonial_slider_wrapper {
      margin-top: size(60);
      padding: 0 size(50);
      @include breakpoint(desktop1200) {
        padding: 0 size(100);
      }
    }

    #swiper-button-next,
    #swiper-button-prev {
      position: absolute;
      top: -165px !important;
      @include breakpoint(desktop1400) {
        top: -140px !important;
      }

      svg {
        width: size(30);
        height: size(30);
        @include breakpoint(mobile768) {
          width: size(48);
          height: size(48);
        }
      }
    }
    #swiper-button-next {
      right: 0 !important;
    }
    .testimonial_card {
      border-radius: 16px;
      background: #fff;
      box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.06);
      padding: size(30) size(22);
      svg {
        width: size(20);
        height: size(20);
      }
      .text {
        color: #535354;
        font-family: $primaryfont;
        font-size: size(16);
        line-height: size(28);
      }
      .user_image {
        width: 44px;
        height: 44px;
        @include circle;
      }
      .title {
        color: #141b34;
        font-family: Roboto;
        font-size: 16px;

        font-weight: 600;
        line-height: 22px; /* 137.5% */
      }
      .subtitle {
        color: #141b34;
        font-family: Roboto;
        font-size: 16px;

        font-weight: 400;
        line-height: 22px;
      }
    }
  }
}

// footer
.footer {
  background-image: url("../../assets/images/Home/footer-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &_wrapper {
    position: relative;
    margin-top: size(200);
    padding-top: size(225);
    z-index: 1;
    // overflow-x: hidden;
    .footer_top_content {
      position: absolute;
      top: size(-267);
      width: 100%;
      border-radius: 40px;
      background: #fff;
      box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.08);
      padding: size(103) size(30);
      @include breakpoint(mobile768) {
        padding: size(103) size(103);
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: size(36);
      // z-index: 2;
      .footer_title {
        color: #1a0013;
        font-family: $primaryfont;
        font-size: 20px;
        text-align: center;
        @include breakpoint(mobile768) {
          font-size: 32px;
        }
        @include breakpoint(tab992) {
          font-size: 48px;
        }

        font-weight: 800;
        line-height: 150%; /* 72px */
      }
    }
    .socialLink {
      svg {
        width: size(25);
        height: size(25);
        @include breakpoint(mobile576) {
          width: size(32);
          height: size(32);
        }
        @include breakpoint(mobile768) {
          width: size(48);
          height: size(48);
        }
      }
    }

    .footer_content {
      margin-top: size(64);
      padding-bottom: size(100);
      border-bottom: 1px solid rgba(255, 255, 255, 0.28);
      overflow-x: hidden;
      .sub_heading {
        color: $white;
        font-family: $primaryfont;
        font-size: size(24);

        font-weight: 600;
        line-height: size(32);
      }
      .description {
        color: $white;
        font-family: $primaryfont;
        font-size: size(16);
        line-height: 167%;
      }
    }
    .description {
      color: $white;
      font-family: $primaryfont;
      font-size: size(16);
    }

    .footer_icon_content {
      .left_1 {
        top: size(-230);
        left: size(-30);
        @include breakpoint(desktop1200) {
          top: size(-230);
          left: size(-50);
        }
        @include breakpoint(desktop1367) {
          top: size(-280);
          left: size(-90);
        }
        @include breakpoint(desktop1400) {
          top: size(-320);
          left: size(-110);
        }
        @include breakpoint(desktop1600) {
          top: size(-337);
          left: size(-123);
        }
        img {
          width: size(90);
          @include breakpoint(tab992) {
            width: size(168);
          }
        }
      }
      .left_2 {
        top: size(-320);
        left: size(-0);
      }
      .left_3 {
        top: size(0);
        left: size(190);
      }

      .right_1 {
        display: none;
        @include breakpoint(desktop1200) {
          display: block;
          right: size(-20);
        }
        @include breakpoint(desktop1367) {
          right: size(-40);
        }
        @include breakpoint(desktop1400) {
          right: size(-30);
        }
        @include breakpoint(desktop1600) {
          right: size(-90);
        }
        top: size(-205);
        z-index: -1;
      }
      .right_2 {
        top: size(-224);
        right: size(224);
      }
      .right_3 {
        top: size(-20);
        right: size(120);
      }
    }
  }
}
