@use "../global" as *;
@use "../partials" as *;

body {
  font-family: $primaryfont;
}

// HEADER-SECTION-START
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: background-color 0.35s ease;
  &.scrolled {
    background-color: #bdaed4d3;
    // background-color: rgb(136, 135, 136);
  }
  &_wrapper {
    padding: size(30) size(0);
    .inner_nav {
      .logo {
        .mobile-menu {
          border: none;
          padding-top: 7px;
          @include circle;
          width: size(30);
          height: size(30);
        }
        img {
          width: size(100);
          @include breakpoint(mobile576) {
            width: size(130);
          }
          @include breakpoint(mobile768) {
            width: size(185);
          }
        }
      }
      .navLinks {
        gap: size(20);
        border-radius: 12px;
        border: 1px solid #dec8ff;
        background: rgba(255, 255, 255, 0.33);
        padding: size(20) size(30);
        @include breakpoint(desktop1200) {
          padding: size(20) size(70);
          gap: size(36);
        }
        .navItem {
          .navLink {
            color: $white;
            font-family: $primaryfont;
            font-size: size(16);
            font-weight: 600;
            line-height: size(16);
            transition: all 0.35s ease-in-out;

            &:hover {
              color: $secondaryColor;
            }
            &.active {
              color: $secondaryColor;
            }
          }
        }
      }
      .cta_btns {
        gap: size(8);
        @include breakpoint(mobile576) {
          gap: size(16);
        }
      }
    }
  }

  .offcanvas {
    width: size(300);
    .offcanvas-body {
      .mobile_navLinks {
        .navItem {
          border: 1px solid #dec8ff;
          background: #dec8ff;
          padding: size(8) size(5);
          @include radius(5);
          .navLink {
            color: $black;
            font-family: $primaryfont;
            font-size: size(16);
            font-weight: 600;
            line-height: size(16);
            transition: all 0.35s ease-in-out;

            &:hover {
              color: $secondaryColor;
            }
            &.active {
              color: $secondaryColor;
            }
          }
        }
      }
    }
  }
}

// HERO-SECTION-START
.hero_section {
  background: url("../../assets/images/Home/Hero-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  .hero_wrapper {
    padding: size(180) size(0) size(125) size(0);
    @include breakpoint(tab992) {
      padding: size(250) size(0) size(125) size(0);
    }
    overflow-x: hidden;
    @include breakpoint(mobile576) {
      overflow-x: visible;
    }
    .Hero_Arrow {
      top: size(48);
      left: -133px;
      @include breakpoint(desktop1200) {
        left: -223px;
      }
    }

    .hero_left_content {
      display: flex;
      flex-direction: column;
      gap: size(35);
      @include breakpoint(desktop1200) {
        gap: size(56);
      }

      .hero_title {
        max-width: size(550);
        font-family: $primaryfont;
        font-size: size(30);
        @include breakpoint(tab992) {
          font-size: size(40);
        }
        @include breakpoint(desktop1200) {
          font-size: size(60);
        }
        font-weight: 800;
        line-height: 140%;
        background: linear-gradient(280deg, #fff 9.23%, #e4d2ff 98.94%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .hero_description {
        max-width: size(454);
        font-family: $primaryfont;
        font-size: size(20);
        @include breakpoint(desktop1200) {
          font-size: size(24);
        }
        line-height: 167%;
        background: radial-gradient(110.79% 110.79% at -5.18% 62.86%, #fff 0%, #ebdefe 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .hero_right_content {
      z-index: 1;
      .hero_image_wrapper {
        @include radius(40);
        background: linear-gradient(90deg, #f178c6 1.18%, #edf966 70.17%, #95d7cb 100.03%),
          rgba(255, 255, 255, 0);
        padding: size(15);
        .hero_image {
          @include radius(32);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .hero_dots_wrapper {
        right: 0px;
        @include breakpoint(mobile768) {
          right: -40px;
        }
        bottom: -40px;
        z-index: -1;
      }
    }
  }
}

// OUR-SERVICES-START
.our_services {
  margin-top: size(140);
  &_wrapper {
    .service_item {
      display: flex;
      align-items: center;
      gap: size(10);
      padding: size(20) size(10) size(20) size(20);
      @include breakpoint(desktop1200) {
        padding: size(30) size(30) size(30) size(30);
        gap: size(20);
      }
      border: 1px dashed #de00a5;
      @include radius(16);
      .service_image_wrapper {
        img {
          width: 100%;
          @include radius(16);
        }
      }
      .service_content {
        display: flex;
        flex-direction: column;
        gap: size(14);

        .service_title {
          color: #1a0013;
          font-family: $primaryfont;
          font-size: size(16);
          @include breakpoint(desktop1200) {
            font-size: size(20);
          }
          @include breakpoint(desktop1400) {
            font-size: size(24);
          }
          font-weight: 700;
          line-height: 90%;
        }
        .service_description {
          color: #52474f;
          font-family: $primaryfont;
          font-size: size(14);
          line-height: 167%;
          max-width: size(230);
        }
      }
    }
  }
}

// Features-Section-START
.features_section {
  background: linear-gradient(
    180deg,
    rgba(251, 245, 205, 0) 0%,
    rgba(251, 245, 205, 0.65) 15%,
    rgba(251, 245, 205, 0) 50%
  );
  padding: size(120) size(0) size(60) size(0);
  &_wrapper {
    .features_section_header {
      display: flex;
      flex-direction: column;
      gap: size(34);
      margin-bottom: size(50);
      @include breakpoint(mobile768) {
        margin-bottom: size(100);
      }
      .features_section_title {
        display: inline-flex;
        padding: size(15) size(21);
        gap: size(12);
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #ffb700;
        svg {
          width: size(10);
          height: size(10);
        }
        .sub_title {
          color: #ffb700;
          font-family: $primaryfont;
          font-size: size(20);
          font-weight: 500;
          margin-top: size(6);
        }
      }
      .title {
        color: #1a0013;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(28);
        @include breakpoint(mobile768) {
          font-size: size(42);
        }
        font-weight: 700;
        line-height: 125%;
        span {
          color: #7024ec;
        }
      }
      .description {
        color: #52474f;
        text-align: center;
        font-family: $primaryfont;
        font-size: size(20);
        line-height: 167%;
        max-width: size(624);
        margin: 0 auto;
      }
    }
  }
}

.section_image_content {
  &.upload_product {
    margin-top: size(70);
    @include breakpoint(mobile768) {
      margin-top: size(140);
    }
  }
  .section_image_wrapper {
    img {
      @include radius(24);
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.05);
      // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05) inset;
    }
  }
  .section_content_wrapper {
    .section_title_wrapper {
      .title {
        color: #1a0013;
        font-family: $primaryfont;
        font-size: size(24);
        @include breakpoint(mobile576) {
          font-size: size(32);
        }
        font-weight: 700;
        max-width: size(400);
      }
      .title_arrow {
        left: size(0);
        @include breakpoint(mobile576) {
          left: size(90);
        }
        bottom: size(-10);
        svg {
          width: size(130);
          @include breakpoint(mobile576) {
            width: size(179);
          }
        }
      }
      .upload {
        left: size(110);
        @include breakpoint(mobile576) {
          left: size(143);
        }
        bottom: size(-10);
        svg {
          width: size(90);
          @include breakpoint(mobile576) {
            width: size(130);
          }
        }
      }
    }
    .description {
      color: #52474f;
      font-family: $primaryfont;
      font-size: size(16);
      line-height: size(31);
      max-width: size(562);
    }
  }
}
